input[type="text"] {
	width: 100%;
	outline: none;
	padding: 7px 0;
	box-shadow: inset 0px 2px 1px 0px #EFF2F4;
	border: 1px solid darken(#EFF2F4, 15%);
	transition: all 1s;
}

input[type="text"]:focus {
	border: 1px solid lighten($spearmint, 20%);
}