// COLORS

$olive: #4b5144;
$slate: #657283;
$spearmint: #33a363;
$yellow: #ffc82e;
$green: #2ECC71;
$crimson: #612630;
$cherry: #d82537;
$blush: #ebdede;
$orange: #FF6D2D;
$smoke: #413D38;
$blue: #2980b9;

// HEADER

// BODY

$body_background: #EFF2F4;
